body{
    min-height:70%;
   width: 100%;
    font-family: "Righteous-Regular";
    background: linear-gradient(to left, #DAEFF9, #45D08E);

  }
  
  h1{
    text-transform: uppercase;
    background: #C9F3FC;
    margin: 0;
    padding:10px 28px;
    font-weight: normal;
    font-size: 38px;
  }
  input{
    background: #FFFFFF;
    border-radius: 30px;
    outline:none;
    color: #000000;
    width: 100%;
    box-sizing: border-box;
    height:50px ;
    font-size: 20px;
    font-weight: 0.5px;
    padding-left:25px;

  }
  input:focus{
    background-color: #dfdaf7;
    border: 2px solid #000000;
    outline:none;
    color: black;
  }
  
  span{
    margin-right: 10px;
    text-align:center;
    height:50px;
    width: 0;
    opacity: 0;
    -webkit-transition:0.3s;
    transition: 0.3s linear;
    
  }


  
  i{
    cursor: pointer;
  }
  button{
    background-color:#45D08E;
    border: none;
    color: lack;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius:4px;
    font-family:Righteous-Regular;
    transition-duration: 0.4s;
    cursor: pointer;
  
  }
  button:hover {
    background-color: #DAEFF9;
    color: black;
    border: 1px solid black;
  }
  
  #buttons{
    display:inline-block;
    text-align:center;
    margin-left:22%;
    position:absolute;
    bottom:5px;
    
  }
  #todo{
    margin: 0 auto ;
    box-shadow: 0 0 1em black;
    max-width: 400px;
    height:100%;
    background:white;
    position:relative;
  }
  #overlay{
    height: 0;
    width: 100%;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.7); 
    overflow-x: hidden; 
    transition: 0.5s; 
    -webkit-transition:  0.5s;
  }
  #overlay .closebtn {
    position: absolute;
    top: 15px;
    right: 40px;
    font-size: 60px;
    color:#86a8e7;
    cursor: pointer;
  }
  #overlay li{
    padding: 8px;
    list-style-type:circle;
    font-size: 30px;
    color: #818181;
    display: block;
  }
  .todos{
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .todos li{
    background: #90ecc1;
    height:50px;
    line-height: 50px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 30px 30px 30px 30px;
  }
  .todos li:nth-child(2n){
    background:#DAEFF9;
  }
  .todos li:hover span{
    width: 50px;
    opacity: 1.0;
    margin-left: 5px;
  }
  .display{
    display:none;
    transition: 0.3s linear;
  }
  .checked{
    color:gray;
    text-decoration:line-through;
  }
  
  .fa-pencil-alt{
    float: right;
    padding-top: 8px;
  }
  .fa-trash-alt{
    color:black;
  }
  .tips{
    position: relative;
    top: 20%;
    width: 100%; 
    text-align: center; 
    margin-top: 25px;
  }
  /  if screen size less than 450px, resize tips lists and close btn so they don't overlap /
  @media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    #todo{
        width:100%;
        height:100%;
    }
  }

  @font-face{
    font-family: 'Righteous-Regular';
    src: url(fonts/Righteous-Regular.ttf);
    }