html{
margin: 0;
height: 100vh;
width: 100vw;
}

body {
font-family: Mulish;
background: #8e0e00;

background: -webkit-linear-gradient(to left, #DAEFF9, #45D08E);

background: linear-gradient(to left, #DAEFF9, #45D08E);

display: flex;
justify-content: center;
}

#background{
height: 600px;
width: 360px;
margin: 100px auto;
background: white;
border-radius: 30px;
box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

}

#shapka{
height: 80px;
width: 360px;

background: #C9F3FC;
border-radius: 30px 30px 0px 0px;
}

#bottom{
height: 80px;
width: 360px;
margin: 460px auto;
background: #9E9999;
border-radius: 0px 0px 30px 30px;
}

#button1{
position: absolute;
margin-top: 20px;
width: 90px;
height: 40px;
background: #C4C4C4;
margin-left: 16.5px;
border-radius: 20px;

}
#button2{
position: absolute;
margin-top: 20px;
width: 90px;
height: 40px;
background: #C4C4C4;
margin-left: 132px ;
border-radius: 20px;
}

#button3{
position: absolute;
margin-top: 20px;
width: 90px;
height: 40px;
background: #C4C4C4;
margin-left: 250px;
border-radius: 20px;
}

#button4{
    position: absolute;
    margin-top: -518px;
    width: 50px;
    height: 40px;
    background: #93DBEB;;
    margin-left: 290px;
    border-radius: 20px;
    }

    #button5{
        position: absolute;
        margin-top: -400px;
        width: 350px;
        height: 40px;
        background: #C4C4C4;
        margin-left: 5px ;
        border-radius: 20px;
    }
    #button6{
        position: absolute;
        margin-top: -450px;
        width: 350px;
        height: 40px;
        background: #E9FCFA;
        margin-left: 5px ;
        border-radius: 20px;
    }
    #button7{
        position: absolute;
        margin-top: -350px;
        width: 350px;
        height: 40px;
        background: #C9F3FC;
        margin-left: 5px ;
        border-radius: 20px;
    }
    #button8{
        position: absolute;
        margin-top: -300px;
        width: 350px;
        height: 40px;
        background: #C4C4C4;
        margin-left: 5px ;
        border-radius: 20px;
    }
    #button9{
        position: absolute;
        margin-top: -250px;
        width: 350px;
        height: 40px;
        background: #C9F3FC;
        margin-left: 5px ;
        border-radius: 20px;
    }
    #button10{
        position: absolute;
        margin-top: -200px;
        width: 350px;
        height: 40px;
        background: #C4C4C4;
        margin-left: 5px ;
        border-radius: 20px;
    }
    #button11{
        position: absolute;
        margin-top: -150px;
        width: 350px;
        height: 40px;
        background: #C9F3FC;
        margin-left: 5px ;
        border-radius: 20px;
    }


h1{
font-family: "Righteous-Regular" , Arial;
position: absolute;
margin-top: 20px;
margin-left: 20px ;
color: #000000;
}


p{
    font-family:"Righteous-Regular";
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
    }

    p#1{
        position: absolute;
        margin-top: 20px;
        width: 70px;
        height: 40px;
        background: #C4C4C4;
        margin-left: 144.5px ;
        border-radius: 20px;
    }

@font-face{

    font-family: 'Righteous-Regular';
    src: url(fonts/Righteous-Regular.ttf);
    }